# -FrontPage-

#ptions None

<Limit GET POST>
order deny,allow
deny from all
allow from all
require group authors administrators
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthType Basic
AuthName yockatomac.org
AuthUserFile /homepages/28/d89642000/htdocs/_vti_pvt/service.pwd
AuthGroupFile /homepages/28/d89642000/htdocs/_vti_pvt/service.grp
